@using lab3_mvc.Views.Shared.Helpers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <header>
        <h4>ADD HEADER</h4>
    </header>    
}

<div>
    @using (Html.BeginForm("AddSave", "Dict", FormMethod.Post, new { data_formType = "user" }))
    {
        @FormHelper.AddForm(Html);
    }
</div>
<br>

@Html.ActionLink("Cancel", "Index", "Dict")

@section footer {
    <footer>
        <h4>ADD FOOTER</h4>
    </footer>    
}

