@using Storage;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DictRecord record = ViewBag.record;
}

@section header
{
    <header>
        <h4>DELETE HEADER</h4>
    </header>
}

<div>
    <label>Delete</label>
    @using (Html.BeginForm("DeleteSave", "Dict", FormMethod.Post))
    {
        <label>Id:</label>
        @Html.TextBox("Id", record.Id)
        <br />

        <label>LastName:</label>
        @Html.TextBox("LastName", record.LastName)
        <br />

        <label>Number:</label>
        @Html.TextBox("Number", record.Number)
        <br />

        <input type="submit" value="Отправить" />
    }

    @Html.ActionLink("Cancel", "Index", "Dict")
</div>

@section footer
{
    <footer>
        <h4>DELETE FOOTER</h4>
    </footer>
}
