@using lab3_mvc.Views.Shared.Helpers;
    
@using Storage;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DictRecord record = ViewBag.record;
}

@section header {
    <header>
        <h4>UPDATE HEADER</h4>
    </header>
}

<div>
    <label>Update</label>
    @using (Html.BeginForm("UpdateSave", "Dict", FormMethod.Post))
    {
        <label>Id:</label>
        @Html.TextBox("Id", record.Id)
        <br />

        @FormHelper.AddForm(Html);
    }

    @Html.ActionLink("Cancel", "Index", "Dict")
</div>

@section footer {
    <footer>
        <h4>UPDATE FOOTER</h4>
    </footer>
}
